@charset "utf-8";

.wrapper{
  width: 400px;
}
.header{
  width: 100%;
  height: 100px;
  background-color: #f00;
}
.aside{
  width: 150px;
  height: 250px;
  background-color: #00ff51;
  float: left;
}
.content{
  float: right;
  width: 250px;
}
.content-top-left{
  float: left;
  width: 150px;
}
.content-top-left-top{
  width: 100%;
  height: 50px;
  background-color: #cc00db;
}
.content-top-left-bottom{
  width: 100%;
  height: 100px;
  background-color: #0093b7;
}
.content-top-right{
  float: right;
  width: 100px;
  height: 150px;
  background-color: #ff9e6b;
}
.content-bottom{
  width: 100%;
  height: 100px;
  background-color: #8c2727;
}
.footer{
  width: 100%;
  height: 100px;
  background-color: #fff700;
}
.clearfix::after{
  content: "";
  display: block;
  clear: both;
}